# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
.venv/

# Editor/IDE
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.*

# pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# coverage reports
htmlcov/
.coverage
.cache

# build/dist
build/
dist/
*.egg-info/

# pip-tools
*.txt~